.header
  width 100%
  position: relative;
  padding: 25px 0;
  &--wrap
    width 100%
    position absolute
    top 0
    left 0
    z-index 777
  &__main
    width 100%
    display flex
    justify-content: space-between;
    align-items: center;
  &__left-side
    width 100%
    display: flex;
    justify-content: flex-start;
  &__right-side
    width 100%
    display: flex;
    justify-content: flex-end;
  &__logo
    padding-right: 30px;
  &__phone
    display flex
    flex-direction column
    justify-content: center;
    a.text_18
      font-weight: 900;
      line-height: 23px;
      color: #FFFFFF;
  &__callback
    display flex
    justify-content: center;
    align-items: center;
    a.text_13
      padding-left: 16px;
      font-weight: bold;
      line-height: 17px;
      text-decoration-line: underline;
      color: #009AF1;
    svg
      size(16px)
      fill #42ADFF
  &__metro
    display flex
    flex-direction column
    justify-content center
    align-items center
    padding-left: 30px;
    a.text_13
      font-weight: bold;
      line-height: 17px;
      text-decoration-line: underline;
      color: #009AF1;
  &__spb
    display flex
    justify-content: center;
    align-items: center;
    svg
      size(20px)
      fill #C4D865;
      margin 0 5px
    span.text_16
      font-weight: bold;
      line-height: 21px;
      color: #FFFFFF;
  &__basket
    padding-left: 20px;
    svg
      size(24px)
      fill #4A50CC;
  &__exit
    padding-left: 20px;
    svg
      size(24px)
      fill #FFFFFF;

