footer.footer--wrap
  .container
    .footer
      .row
        .col-lg-4.col-md-12
          .foot-info
            ._logo
              a(href="#").logotype
                img(src='../static/img/general/logo.png' alt='icon')
              a(href="#").logo_btn
                +icon('instagram')
              a(href="#").logo_btn
                +icon('vk')
              a(href="#").logo_btn
                +icon('telegram')
            ._info
              p.text_16
                | Санкт-Петербург,
              a(href="#").text_16
                +icon('metro')
                | Приморская, ул. Одоевского, 29
              p.text_16
                | (в 10 метрах от станции )
              br
              a(href="mailto:info@gokigurumi.ru").text_16
                +icon('mail')
                | info@gokigurumi.ru
              br
              a(href="tel:78123587215").text_16
                +icon('phone')
                | +7 (812) 358-72-15
        .col-lg-8.col-md-12
          .foot-main
            .row
              .col-lg-3.col-md-12
                h5.text_13
                  | О КОМПАНИИ
                ul.menu
                  li.item
                    a(href="#").text_16
                      | О компании
                  li.item
                    a(href="#").text_16
                      | Обмен и возврат
                  li.item
                    a(href="#").text_16
                      | Контакты
                  li.item
                    a(href="#").text_16
                      | Скидки и акции
              .col-lg-3.col-md-12
                h5.text_13
                  | КАТАЛОГ
                ul.menu
                  li.item
                    a(href="#").text_16
                      | Взрослые
                  li.item
                    a(href="#").text_16
                      | Детские
                  li.item
                    a(href="#").text_16
                      | Парные
                  li.item
                    a(href="#").text_16
                      | Тапочки
                  li.item
                    a(href="#").text_16
                      | Нижнее белье
              .col-lg-3.col-md-12
                h5.text_13
                  | ДОСТАВКА
                ul.menu
                  li.item
                    a(href="#").text_16
                      | Доставка
                  li.item
                    a(href="#").text_16
                      | Самовывоз
              .col-lg-3.col-md-12
                h5.text_13
                  | ЛИЧНЫЙ КАБИНЕТ
                ul.menu
                  li.item
                    a(href="#").text_16
                      | Личный Кабинет
                  li.item
                    a(href="#").text_16
                      | История заказов
                  li.item
                    a(href="#").text_16
                      | Закладки
                  li.item
                    a(href="#").text_16
                      | Возврат товара

  .footer_copyright
    .container
      .footer_bank
        //+copyright
        p.text_16
          | 2021 Copyright
        .bank-logo
          +img('content/visa', 'png','bank-logo')
          +img('content/master', 'png','bank-logo')
          +img('content/wallet', 'png','bank-logo')
          +img('content/sber', 'png','bank-logo')