.info--wrap
  .container
    .info
      .row
        .col-lg-3.col-md-12
          .block.red
            +icon('cargo')
            ._text
              span.text_14
                | ДОСТАВКА ПО РОССИИ
              p.text_14
                | От 1-6 дней в любую точку России
        .col-lg-3.col-md-12
          .block.blue
            +icon('change')
            ._text
              span.text_14
                | ОБМЕН И ВОЗВРАТ
              p.text_14
                | Мы максимально упростили этот процесс
        .col-lg-3.col-md-12
          .block.green
            +icon('certif')
            ._text
              span.text_14
                | ВСЕ СЕРТИФИКАТЫ
              p.text_14
                | Гарант качества и безопасности тканей
        .col-lg-3.col-md-12
          .block.yellow
            +icon('sale')
            ._text
              span.text_14
                | СКИДКИ СКИДКИ!
              p.text_14
                | Мы любим устраивать акции и конкурсы