.top-product--wrap
  .container
    .top-product
      ._main
        .head-wave
          h2.text_28
            | Топовые товары
        ._btn
          button(type='button' name='box1').btn_global.adult_btn.child_btn
            | Для взрослых
          button(type='button' name='box2').btn_global.child_btn
            | Для детей
        ._content
          ._box.box1
            ._box-main
              .row
                .col-lg-3.col-md-12
                  .card
                    +img('content/image01', 'png','card')
                    span.text_18
                      | Дикий Тигр
                    button(type='button' name='buy').btn_global.buy_btn
                      | 1745 ₽
                      +icon('basket02')
                  .card
                    +img('content/image03', 'png','card')
                    span.text_18
                      | Розовый стич
                    button(type='button' name='buy').btn_global.buy_btn
                      | 1745 ₽
                      +icon('basket02')
                .col-lg-3.col-md-12
                  .card.sale
                    +img('content/image02', 'png','card')
                    span.text_18
                      | Единорожка
                    button(data-full-price="1745 ₽" type='button' name='buy').btn_global.buy_btn
                      | 1645 ₽
                      +icon('basket02')
                  .card
                    +img('content/image04', 'png','card')
                    span.text_18
                      | Радужный Единорог
                    button(type='button' name='buy').btn_global.buy_btn
                      | 1745 ₽
                      +icon('basket02')
                .col-lg-3.col-md-12
                  .card
                    +img('content/image03', 'png','card')
                    span.text_18
                      | Розовый стич
                    button(type='button' name='buy').btn_global.buy_btn
                      | 1745 ₽
                      +icon('basket02')
                  .card.sale
                    +img('content/image02', 'png','card')
                    span.text_18
                      | Единорожка
                    button(data-full-price="1745 ₽" type='button' name='buy').btn_global.buy_btn
                      | 1645 ₽
                      +icon('basket02')
                .col-lg-3.col-md-12
                  .card
                    +img('content/image04', 'png','card')
                    span.text_18
                      | Радужный Единорог
                    button(type='button' name='buy').btn_global.buy_btn
                      | 1745 ₽
                      +icon('basket02')
                  .card
                    +img('content/image01', 'png','card')
                    span.text_18
                      | Дикий Тигр
                    button(type='button' name='buy').btn_global.buy_btn
                      | 1745 ₽
                      +icon('basket02')
          ._box.box2
            ._box-main
              .row
                .col-lg-3.col-md-12
                  .card.sale
                    +img('content/image02', 'png','card')
                    span.text_18
                      | Единорожка
                    button(data-full-price="1745 ₽" type='button' name='buy').btn_global.buy_btn
                      | 1645 ₽
                      +icon('basket02')
                  .card
                    +img('content/image04', 'png','card')
                    span.text_18
                      | Радужный Единорог
                    button(type='button' name='buy').btn_global.buy_btn
                      | 1745 ₽
                      +icon('basket02')
                .col-lg-3.col-md-12
                  .card
                    +img('content/image01', 'png','card')
                    span.text_18
                      | Дикий Тигр
                    button(type='button' name='buy').btn_global.buy_btn
                      | 1745 ₽
                      +icon('basket02')
                  .card
                    +img('content/image03', 'png','card')
                    span.text_18
                      | Розовый стич
                    button(type='button' name='buy').btn_global.buy_btn
                      | 1745 ₽
                      +icon('basket02')
                .col-lg-3.col-md-12
                  .card
                    +img('content/image04', 'png','card')
                    span.text_18
                      | Радужный Единорог
                    button(type='button' name='buy').btn_global.buy_btn
                      | 1745 ₽
                      +icon('basket02')
                  .card
                    +img('content/image01', 'png','card')
                    span.text_18
                      | Дикий Тигр
                    button(type='button' name='buy').btn_global.buy_btn
                      | 1745 ₽
                      +icon('basket02')
                .col-lg-3.col-md-12
                  .card
                    +img('content/image03', 'png','card')
                    span.text_18
                      | Розовый стич
                    button(type='button' name='buy').btn_global.buy_btn
                      | 1745 ₽
                      +icon('basket02')
                  .card.sale
                    +img('content/image02', 'png','card')
                    span.text_18
                      | Единорожка
                    button(data-full-price="1745 ₽" type='button' name='buy').btn_global.buy_btn
                      | 1645 ₽
                      +icon('basket02')
      ._foot
        p.text_28
          | НАШИ ПРЕИМУЩЕСТВА
        button(type='button' name='more').more_btn
          | +