.info
  width 100%
  padding: 50px 0;
  &--wrap
    width 100%

.block
  width 100%
  display flex
  justify-content: center;
  align-items: center;
  svg
    size(80px,50px)
  &__text
    margin-left: 10px;
    span.text_14
      font-weight: bold;
      line-height: 16px;
      color: #454545;
    p.text_14
      font-weight: normal;
      line-height: 16px;
      color: #454545;
      max-width 80%
.red
  svg
    fill #F46E5C;
.blue
  svg
    fill #009AF1;
.green
  svg
    fill #4EBE59;
.yellow
  svg
    fill #FB9F15;