.footer
  width 100%
  padding 50px 10px 25px
  &--wrap
    width 100%
    flex 0 0 auto
    background #2C2F89;
  &_copyright
    padding 25px 0
    border-top 1px solid #C8E2E9;
    p.copyright
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #C8E2E9;
  &_bank
    display flex
    justify-content: space-between;
    align-items: center;
    .bank-logo
      display flex
      &__image
        width 100%
        margin-left 20px

.foot-info
  width 100%
  &__logo
    display flex
    justify-content: flex-start;
    align-items: center;
    a.logotype
      width 200px
      display: block;
      margin: 3px 25px 0 0;
      img
        width 100%
        height: auto;
  &__info
    padding-top 25px
    p.text_16, a.text_16
      font-weight: normal;
      line-height: 21px;
      color: #FFFFFF;
      display flex
      justify-content: flex-start;
      align-items: center;
      svg
        size(16px)
        fill #FFF
        margin-right: 10px;

.foot-main
  width 100%
  margin-left: 50px;
  h5.text_13
    font-weight: bold;
    text-transform: uppercase;
    line-height: 17px;
    color: #FFFFFF;
    padding-bottom: 25px;
  li.item
    padding-bottom 3px
    a.text_16
      font-weight: normal;
      line-height: 25px;
      color: #C8E2E9;