.title_36
	font-size px(36)

.title_40
	font-size px(40)

.title_48
	font-size px(48)

.title_55
	font-size px(55)

.text_10
	font-size px(10)

.text_13
	font-size px(13)

.text_14
	font-size px(14)

.text_16
	font-size px(16)

.text_18
	font-size px(18)

.text_20
	font-size px(20)

.text_24
	font-size px(24)

.text_28
	font-size px(28)

.bold
	font-weight bold

.medium
	font-weight 500